.chapter-view-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  padding: 50px;
}

.chapter-view-container h1 {
  font-size: 5rem;
}

.chapter-view-container p {
  text-align: start;
  font-size: 3rem;
  color: #8c8c8c;
}

.chapter-view-container a {
  text-decoration: none;
}
